html, body {
  height: 100%;
  width: 100%;
}
h1{
  position: absolute;
  width: 386px;
  height: 80px;
  margin-left: 73px;
  margin-top: 73px;
  margin-right: 518.57px;
  font-family: "FuturaMediumC",sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  font-size: 60px;
  color: #000000;
}

nav{
  display: flex;
  justify-content: flex-end;
  left:350px;
  right:0px;
}

nav ul{
  list-style: none;
  font-family: "FuturaLightC", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;
  font-size: 24px;
  margin-right: 5px;
  margin-top: 127.2px;
  margin-left: 518.57px;
  margin-bottom: 0px;
}

nav li{
  display: inline-block;
  padding-left: 0px;
  padding-right: 4.01px;
  color: black;
  text-decoration: none;
}

a{
  color: black;
  text-decoration: none;
}

a.visited{
  color: black;
  text-decoration: none;
}

h2.class1{
  position: absolute;
  width: 150px;
  height: 23px;
  margin-left: 750px;
  margin-top: -60px;
  margin-right: 446.9px;
  font-family: "FuturaLightC", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  font-size: 36px;
  text-decoration-line: underline;
  color: black;
}

h2.class2{
  position: absolute;
  width: 150px;
  height: 23px;
  margin-left: 53px;
  margin-top: -60px;
  margin-right: 763px;
  font-family: "FuturaLightC", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  font-size: 36px;
  text-decoration-line: underline;
  color: black;
}

h2.class3{
  position: absolute;
  width: 150px;
  height: 23px;
  margin-left: 413px;
  margin-top: -60px;
  margin-right: 446.9px;
  font-family: "FuturaLightC", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  font-size: 36px;
  text-decoration-line: underline;
  color: black;
}

h2.class_vertical{
  position: absolute;
  width: 150px;
  height: 23px;
  margin-left: 480px;
  margin-top: -60px;
  font-family: "FuturaLightC", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  font-size: 36px;
  text-decoration-line: underline;
  color: black;
}

div.block1 {
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 402px;
  height: 267px;
}

img.mukhina{
  margin-top: 220px;
  margin-left: 770px;
  margin-right:73px;
  margin-bottom: 0px;
  width: 402px;
  height: 267px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.mukhina:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
}

div.block2{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 402px;
  height: 267px;
}

img.polaroid{
  margin-top: 220px;
  margin-left: 73px;
  margin-right:770px;
  margin-bottom: 0px;
  height: 267px;
  weight: 402px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.polaroid:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
}

div.block3{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 402px;
  height: 267px;
}

img.graf{
  margin-top: 220px;
  margin-left: 433px;
  margin-right: 410px;
  margin-bottom: 0px;
  weight: 402px;
  height: 267px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.graf:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
}

img.turgenev{
  margin-top: 220px;
  margin-left: 770px;
  margin-right:73px;
  margin-bottom: 0px;
  weight: 402px;
  height: 267px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.turgenev:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
}

div.block5{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 402px;
  height: 267px;
}

img.matches{
  margin-top: 220px;
  margin-left: 73px;
  margin-right:770px;
  margin-bottom: 0px;
  weight: 402px;
  height: 267px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.matches:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
}

div.block_vertical{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 267px;
  height: 402px;
}

img.sweden{
  margin-top: 220px;
  margin-left: 500px;
  margin-right: 410px;
  margin-bottom: 0px;
  weight: 267px;
  height: 402px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.sweden:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
}

div.block7{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 402px;
  height: 267px;
}

img.bicycle{
  margin-top: 220px;
  margin-left: 770px;
  margin-right:73px;
  margin-bottom: 0px;
  weight: 402px;
  height: 267px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.bicycle:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}

div.block8{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 402px;
  height: 267px;
}

img.fonts{
  margin-top: 220px;
  margin-left: 73px;
  margin-right:770px;
  margin-bottom: 0px;
  weight: 402px;
  height: 267px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.fonts:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}

div.block9{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 267px;
  height: 402px;
}

img.leaf{
  margin-top: 220px;
  margin-left: 500px;
  margin-right: 410px;
  margin-bottom: 0px;
  weight: 267px;
  height: 402px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.leaf:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}

div.block10{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 267px;
  height: 402px;
}

img.bublik{
  margin-top: 220px;
  margin-left: 770px;
  margin-right:0px;
  margin-bottom: 0px;
  weight: 267px;
  height: 402px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.bublik:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}

div.block11{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 402px;
  height: 267px;
}

img.bee{
  margin-top: 220px;
  margin-left: 73px;
  margin-right:770px;
  margin-bottom: 0px;
  weight: 402px;
  height: 267px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.bee:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}

div.block12{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 402px;
  height: 267px;
}

img.glasses{
  margin-top: 220px;
  margin-left: 433px;
  margin-right: 410px;
  margin-bottom: 0px;
  weight: 402px;
  height: 267px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.glasses:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}

div.block13{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 402px;
  height: 267px;
}

img.disk{
  margin-top: 220px;
  margin-left: 770px;
  margin-right:73px;
  margin-bottom: 0px;
  weight: 402px;
  height: 267px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.disk:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}

div.block14{
  margin-top: 0px;
  margin-left: 10px;
  margin-right:0px;
  margin-bottom: 100px;
  width: 402px;
  height: 267px;
}

img.pumpkin{
  margin-top: 220px;
  margin-left: 73px;
  margin-right:770px;
  margin-bottom: 0px;
  weight: 402px;
  height: 267px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

img.pumpkin:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.WhiteMarkup {
  background-color: white;
}
